## Importamos inicialmente las librerias y modulos que vamos a utilizar, luego importamos otras mas.

In [1]:
import urllib.request
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

import numpy as np

In [2]:
# PARA BAJAR AUTOMATICAMENTE EL DATASET PARA SER USADO
file_name = 'dataR2.csv'
def download_file(file_name):
    print('Descargando el dataset')
    url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00451/dataR2.csv'
    urllib.request.urlretrieve(url, file_name)
download_file(file_name)

Descargando el dataset

In [3]:
# Cargamos los datos y los dividimos en conjuntos para entrenar y testear.
data = pd.read_csv(file_name)
y = data["Classification"]
X = data.drop(["Classification"], axis=1)
(X_train, X_test,
 y_train, y_test) = train_test_split(X,
                                     y,
                                     stratify=y,
                                     test_size=0.33,
                                     random_state=11)

## Como se componen los datos

#### El dataset se compone de 10 columnas. 9 corresponden a variables independientes,
#### que usaremos para predecir el target y 1 (Classification) es la variable a predecir. Todas las variables son num√©ricas, ya 
#### sea enteras o reales y no tiene valores nulos

In [4]:
data.head(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [5]:
data.sample(5) # Otra forma de ver valores

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
17,61,32.038959,85,18.077,3.790144,30.7729,7.780255,13.68392,444.395,1
92,52,30.801249,87,30.212,6.483495,29.2739,6.268540,24.24591,764.667,2
16,47,22.030000,84,2.869,0.590000,26.6500,38.040000,3.32000,191.720,1
24,54,30.483158,90,5.537,1.229214,12.3310,9.731380,10.19299,1227.910,1
70,45,20.260000,92,3.440,0.780651,7.6500,16.670000,7.84000,193.870,2

## RANDOM FOREST

In [6]:
model = RandomForestClassifier(random_state=11, n_estimators=200,
                               class_weight="balanced", max_features="log2")
model.fit(X_train, y_train)
print(f"La precisi√≥n del Random Forest es: {model.score(X_test, y_test)}")

La precisi√≥n del Random Forest es: 0.717948717948718

In [12]:
classifier=model.fit(X_train, y_train)#Construimos el modelo sobre los datos de entrenamiento

In [13]:
predictions=classifier.predict(X_test)

In [9]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print("Matriz de confusi√≥n")
print(confusion_matrix(y_test,predictions))
print("M√©tricas de clasificaci√≥n")
print(classification_report(y_test,predictions))
print(accuracy_score(y_test, predictions))

Matriz de confusi√≥n
[[10  7]
 [ 4 18]]
M√©tricas de clasificaci√≥n
              precision    recall  f1-score   support

           1       0.71      0.59      0.65        17
           2       0.72      0.82      0.77        22

    accuracy                           0.72        39
   macro avg       0.72      0.70      0.71        39
weighted avg       0.72      0.72      0.71        39

0.717948717948718

In [10]:
predictions

array([2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 2,
       2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 1, 2, 1], dtype=int64)

In [11]:
classifier

RandomForestClassifier(class_weight='balanced', max_features='log2',
                       n_estimators=200, random_state=11)